body {
    font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 100 !important;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.bubble {
    position: relative;
    padding: 20px;
    color: #fff;
    margin-bottom: 50px !important;
}
.bubble a {
    color: #fff;
}
.bubble::before {
    position: absolute;
    display: block;
    content: '';
}
.right-bottom {
    margin: 0 20px 20px 0;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
            border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
            border-bottom-left-radius: 20px;
}
.right-bottom::before {
    right: -20px;
    bottom: 0;
}
.right-top {
    margin: 0 20px 20px 0;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
            border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
            border-bottom-right-radius: 20px;
}
.right-top::before {
    top: 0;
    right: -20px;
}
.left-top {
    margin: 0 0 20px 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
            border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
            border-bottom-left-radius: 20px;
}
.left-top::before {
    top: 0;
    left: -20px;
}
.left-bottom {
    margin: 0 0 20px 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
            border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
            border-bottom-right-radius: 20px;
}
.left-bottom::before {
    bottom: 0;
    left: -20px;
}
table {
    width: 100%;
    table-layout: fixed;
}
th,
td {
    padding: 10px 20px 10px 0;
    text-align: left;
    vertical-align: middle;
}
th {
    width: 60%;
    font-size: 1.5em;
    vertical-align: top;
    letter-spacing: .1em;
    text-transform: uppercase;
}
td h4 {
    font-size: 1.5em;
}
.full-width table td {
    width: 100%;
    padding-bottom: 20px;
}
.stars {
    float: left;
    width: 0;
    height: 0;
    margin-right: 3px;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 5px solid transparent;
}
.stars::after {
    position: absolute;
    width: 0;
    height: 0;
    margin: 3px 0 0 -5px;
    content: '';
    border-top: 8px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.stars.inactive {
    border-bottom: 8px solid #63566e;
}
.stars.inactive::after {
    border-top: 8px solid #63566e;
}
#content {
    clear: both;
}
#content .left,
#content .right {
    width: 40%;
}
.middle {
    float: left;
    overflow: hidden;
    width: 20%;
    word-break: break-all;
    word-break: break-word;
    -ms-word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.middle > div {
    overflow: hidden;
    max-height: 170px;
}
.middle h3 {
    font-size: 5.6em;
    text-transform: uppercase;
}
#header,
#content,
#footer {
    box-sizing: border-box;
    min-width: 720px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}
#navigation {
    min-width: 600px;
    max-width: 720px;
    margin: 60px auto 0;
    text-align: right;
}
#navigation a {
    font-size: 1.7em;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}
#navigation a:hover {
    text-decoration: underline;
    color: #687989;
}
#navigation a.active {
    color: #90b2ca;
}
#header {
    min-width: 600px;
    max-width: 720px;
    margin: 0 auto;
}
.portfolio .bubble {
    max-width: 352px;
}
.portfolio br.clear {
    clear: both;
}
.screenshot {
    float: left;
    max-width: 350px;
    margin: 0;
}
.screenshot img {
    float: left;
    max-width: 100%;
    margin: 0;
}
.bubble h3 {
    display: none;
}
.profile-name {
    display: inline-block;
    float: left;
}
.profile-name h1 {
    font-size: 5em;
}
.profile-name h2 {
    font-size: 2em;
    float: right;
}
.bubble.profile {
    font-size: 2.3em;
    background-color: #9ac5de;
}
.bubble.profile .profile-img {
    clear: both;
    width: 206px;
    height: 125px;
    padding: 0;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    background: url(./nessa.jpg) no-repeat scroll center top #a9cbe4;
}
.bubble.profile.right-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 0 0 20px !important;
    border-style: solid;
    border-color: transparent transparent transparent #9ac5de !important;
}
.bubble.profile.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #9ac5de;
}
.bubble.profile.right-bottom {
    margin-right: 40px;
}
.middle .personal {
    color: #90b2ca;
}
.bubble.personal {
    background-color: #90b2ca;
}
.bubble.personal.right-top {
    margin-right: 40px;
}
.bubble.personal.right-top::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: #90b2ca transparent transparent;
}
.middle .language {
    color: #b7bdcb;
}
.bubble.language {
    background-color: #b7bdcb;
}
.bubble.language.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #b7bdcb;
}
.middle .employment {
    color: #819aae;
}
.bubble.employment {
    background-color: #819aae;
}
.bubble.employment.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #819aae;
}
.middle .education {
    color: #687989;
}
.bubble.education {
    background-color: #687989;
}
.bubble.education.right-bottom {
    margin-right: 40px;
}
.bubble.education.right-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 0 0 20px !important;
    border-style: solid;
    border-color: transparent transparent transparent #687989 !important;
}
.middle .hobbies {
    color: #877f8f;
}
.bubble.hobbies {
    background-color: #877f8f;
}
.bubble.hobbies.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #877f8f;
}
.middle .technical {
    color: #b58ea5;
}
.bubble.technical {
    background-color: #b58ea5;
}
.bubble.technical.right-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 0 0 20px !important;
    border-style: solid;
    border-color: transparent transparent transparent #b58ea5 !important;
}
.middle .contact {
    color: #c6b19e;
}
.bubble.contact {
    background-color: #c6b19e;
}
.bubble.contact.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #c6b19e;
}
.middle .jungfrau {
    color: #90b2ca;
}
.bubble.jungfrau {
    background-color: #90b2ca;
}
.bubble.jungfrau.right-top::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: #90b2ca transparent transparent;
}
.middle .schild {
    color: #b7bdcb;
}
.bubble.schild {
    background-color: #b7bdcb;
}
.bubble.schild.right-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 0 0 20px !important;
    border-style: solid;
    border-color: transparent transparent transparent #b7bdcb !important;
}
.middle .raiffeisen {
    color: #819aae;
}
.bubble.raiffeisen {
    background-color: #819aae;
}
.bubble.raiffeisen.right-top::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: #819aae transparent transparent;
}
.middle .iks {
    color: #687989;
}
.bubble.iks {
    background-color: #687989;
}
.bubble.iks.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #687989;
}
.middle .zattoo {
    color: #877f8f;
}
.bubble.zattoo {
    background-color: #877f8f;
}
.bubble.zattoo.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #877f8f;
}
.middle .carloag {
    color: #819aae;
}
.bubble.carloag {
    background-color: #819aae;
}
.bubble.carloag.left-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #819aae;
}
.middle .nzz {
    color: #b7bdcb;
}
.bubble.nzz {
    background-color: #b7bdcb;
}
.bubble.nzz.right-bottom::before {
    width: 0;
    min-width: 0 !important;
    height: 0;
    min-height: 0 !important;
    border-width: 20px 0 0 20px !important;
    border-style: solid;
    border-color: transparent transparent transparent #b7bdcb !important;
}
.left .bubble.right-top,
.left .bubble.right-bottom {
    margin-right: 40px;
    margin-left: 0;
}
.right .bubble.left-top,
.right .bubble.left-bottom {
    margin-right: 0;
    margin-left: 40px;
}
@media only screen and (min-width: 610px) and (max-width: 785px) {
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
    }
    .bubble {
        position: relative;
        padding: 15px;
        color: #fff;
    }
    .bubble a {
        color: #fff;
    }
    .bubble::before {
        position: absolute;
        display: block;
        content: '';
    }
    .right-bottom {
        margin: 0 15px 15px 0;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
                border-bottom-left-radius: 15px;
    }
    .right-bottom::before {
        right: -15px;
        bottom: 0;
    }
    .right-top {
        margin: 0 15px 15px 0;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
    }
    .right-top::before {
        top: 0;
        right: -15px;
    }
    .left-top {
        margin: 0 0 15px 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
                border-bottom-left-radius: 15px;
    }
    .left-top::before {
        top: 0;
        left: -15px;
    }
    .left-bottom {
        margin: 0 0 15px 15px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
    }
    .left-bottom::before {
        bottom: 0;
        left: -15px;
    }
    table {
        width: 100%;
        table-layout: fixed;
    }
    th,
    td {
        padding: 7.5px 15px 7.5px 0;
        text-align: left;
        vertical-align: middle;
    }
    th {
        font-size: 1.2em;
        vertical-align: top;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    td h4 {
        font-size: 1.2em;
    }
    .full-width table td {
        width: 100%;
        padding-bottom: 15px;
    }
    .stars {
        float: left;
        width: 0;
        height: 0;
        margin-right: 3px;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #fff;
        border-left: 5px solid transparent;
    }
    .stars::after {
        position: absolute;
        width: 0;
        height: 0;
        margin: 3px 0 0 -5px;
        content: '';
        border-top: 8px solid #fff;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
    .stars.inactive {
        border-bottom: 8px solid #63566e;
    }
    .stars.inactive::after {
        border-top: 8px solid #63566e;
    }
    #content {
        clear: both;
    }
    #content .left,
    #content .right {
        width: 40%;
    }
    .middle {
        float: left;
        overflow: hidden;
        width: 20%;
            word-break: break-all;
            word-break: break-word;
        -ms-word-break: break-all;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto;
    }
    .middle > div {
        overflow: hidden;
        max-height: 127.5px;
    }
    .middle h3 {
        font-size: 4.3em;
        text-transform: uppercase;
    }
    #header,
    #content,
    #footer {
        box-sizing: border-box;
        min-width: 610px;
        max-width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
    #navigation {
        min-width: 480px;
        max-width: 480px;
        margin: 45px auto 0;
        text-align: right;
    }
    #navigation a {
        font-size: 1.7em;
        margin-left: 15px;
        text-decoration: none;
        color: #000;
    }
    #navigation a:hover {
        text-decoration: underline;
        color: #687989;
    }
    #navigation a.active {
        color: #90b2ca;
    }
    #header {
        min-width: 480px;
        max-width: 480px;
        margin: 0 auto;
    }
    .portfolio .bubble {
        max-width: 100%;
    }
    .portfolio br.clear {
        clear: both;
    }
    .screenshot {
        float: left;
        max-width: 100%;
        margin: 0;
    }
    .screenshot img {
        float: left;
        max-width: 100%;
        margin: 0;
    }
    .bubble h3 {
        display: none;
    }
    .profile-name {
        display: inline-block;
        float: left;
    }
    .profile-name h1 {
        font-size: 4em;
    }
    .profile-name h2 {
        font-size: 2em;
        float: right;
    }
    .bubble.profile {
        font-size: 2.3em;
        background-color: #9ac5de;
    }
    .bubble.profile .profile-img {
        clear: both;
        width: 100px;
        height: 125px;
        padding: 0;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
        background: url(./nessa.jpg) no-repeat scroll -68px top #a9cbe4;
    }
    .bubble.profile.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #9ac5de !important;
    }
    .bubble.profile.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #9ac5de;
    }
    .bubble.profile.right-bottom {
        margin-right: 30px;
    }
    .middle .personal {
        color: #90b2ca;
    }
    .bubble.personal {
        background-color: #90b2ca;
    }
    .bubble.personal.right-top {
        margin-right: 30px;
    }
    .bubble.personal.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #90b2ca transparent transparent;
    }
    .middle .language {
        color: #b7bdcb;
    }
    .bubble.language {
        background-color: #b7bdcb;
    }
    .bubble.language.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #b7bdcb;
    }
    .middle .employment {
        color: #819aae;
    }
    .bubble.employment {
        background-color: #819aae;
    }
    .bubble.employment.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #819aae;
    }
    .middle .education {
        color: #687989;
    }
    .bubble.education {
        background-color: #687989;
    }
    .bubble.education.right-bottom {
        margin-right: 30px;
    }
    .bubble.education.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #687989 !important;
    }
    .middle .hobbies {
        color: #877f8f;
    }
    .bubble.hobbies {
        background-color: #877f8f;
    }
    .bubble.hobbies.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #877f8f;
    }
    .middle .technical {
        color: #b58ea5;
    }
    .bubble.technical {
        background-color: #b58ea5;
    }
    .bubble.technical.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b58ea5 !important;
    }
    .middle .contact {
        color: #c6b19e;
    }
    .bubble.contact {
        background-color: #c6b19e;
    }
    .bubble.contact.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #c6b19e;
    }
    .middle .jungfrau {
        color: #90b2ca;
    }
    .bubble.jungfrau {
        background-color: #90b2ca;
    }
    .bubble.jungfrau.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #90b2ca transparent transparent;
    }
    .middle .schild {
        color: #b7bdcb;
    }
    .bubble.schild {
        background-color: #b7bdcb;
    }
    .bubble.schild.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b7bdcb !important;
    }
    .middle .raiffeisen {
        color: #819aae;
    }
    .bubble.raiffeisen {
        background-color: #819aae;
    }
    .bubble.raiffeisen.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #819aae transparent transparent;
    }
    .middle .iks {
        color: #687989;
    }
    .bubble.iks {
        background-color: #687989;
    }
    .bubble.iks.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #687989;
    }
    .middle .zattoo {
        color: #877f8f;
    }
    .bubble.zattoo {
        background-color: #877f8f;
    }
    .bubble.zattoo.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #877f8f;
    }
    .middle .carloag {
        color: #819aae;
    }
    .bubble.carloag {
        background-color: #819aae;
    }
    .bubble.carloag.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #819aae;
    }
    .middle .nzz {
        color: #b7bdcb;
    }
    .bubble.nzz {
        background-color: #b7bdcb;
    }
    .bubble.nzz.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b7bdcb !important;
    }
    .left .bubble.right-top,
    .left .bubble.right-bottom {
        margin-right: 30px;
        margin-left: 0;
    }
    .right .bubble.left-top,
    .right .bubble.left-bottom {
        margin-right: 0;
        margin-left: 30px;
    }
    th,
    td {
        overflow: hidden;
        white-space: nowrap;
    }
    th {
        letter-spacing: .1;
    }
    td h4 {
        letter-spacing: .1;
    }
    .middle > div {
        max-height: 165px;
    }
}
@media only screen and (max-width: 609px) {
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
    }
    .bubble {
        position: relative;
        padding: 15px;
        color: #fff;
    }
    .bubble a {
        color: #fff;
    }
    .bubble::before {
        position: absolute;
        display: block;
        content: '';
    }
    .right-bottom {
        margin: 0 15px 15px 0;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
                border-bottom-left-radius: 15px;
    }
    .right-bottom::before {
        right: -15px;
        bottom: 0;
    }
    .right-top {
        margin: 0 15px 15px 0;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
    }
    .right-top::before {
        top: 0;
        right: -15px;
    }
    .left-top {
        margin: 0 0 15px 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
                border-top-right-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
                border-bottom-left-radius: 15px;
    }
    .left-top::before {
        top: 0;
        left: -15px;
    }
    .left-bottom {
        margin: 0 0 15px 15px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
    }
    .left-bottom::before {
        bottom: 0;
        left: -15px;
    }
    table {
        width: 100%;
        table-layout: fixed;
    }
    th,
    td {
        padding: 7.5px 15px 7.5px 0;
        text-align: left;
        vertical-align: middle;
    }
    th {
        font-size: 1.2em;
        vertical-align: top;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    td h4 {
        font-size: 1.2em;
    }
    .full-width table td {
        width: 100%;
        padding-bottom: 15px;
    }
    .stars {
        float: left;
        width: 0;
        height: 0;
        margin-right: 3px;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #fff;
        border-left: 5px solid transparent;
    }
    .stars::after {
        position: absolute;
        width: 0;
        height: 0;
        margin: 3px 0 0 -5px;
        content: '';
        border-top: 8px solid #fff;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
    .stars.inactive {
        border-bottom: 8px solid #63566e;
    }
    .stars.inactive::after {
        border-top: 8px solid #63566e;
    }
    #content {
        clear: both;
    }
    #content .left,
    #content .right {
        width: 100%;
    }
    .middle {
        float: left;
        overflow: hidden;
        width: 20%;
            word-break: break-all;
            word-break: break-word;
        -ms-word-break: break-all;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto;
    }
    .middle > div {
        overflow: hidden;
        max-height: 127.5px;
    }
    .middle h3 {
        font-size: 1.5em;
        text-transform: uppercase;
    }
    #header,
    #content,
    #footer {
        box-sizing: border-box;
        min-width: 10px;
        max-width: 480px;
        margin: 0 auto;
        padding: 15px;
    }
    #navigation {
        min-width: 20px;
        max-width: 480px;
        margin: 45px auto 0;
        text-align: right;
    }
    #navigation a {
        font-size: 1.3em;
        margin-left: 15px;
        text-decoration: none;
        color: #000;
    }
    #navigation a:hover {
        text-decoration: underline;
        color: #687989;
    }
    #navigation a.active {
        color: #90b2ca;
    }
    #header {
        min-width: 20px;
        max-width: 480px;
        margin: 0 auto;
    }
    .portfolio .bubble {
        max-width: 100%;
    }
    .portfolio br.clear {
        clear: both;
    }
    .screenshot {
        float: left;
        max-width: 100%;
        margin: 0;
    }
    .screenshot img {
        float: left;
        max-width: 100%;
        margin: 0;
    }
    .bubble h3 {
        display: none;
    }
    .profile-name {
        display: inline-block;
        float: left;
    }
    .profile-name h1 {
        font-size: 5em;
    }
    .profile-name h2 {
        font-size: 1.5em;
        float: right;
    }
    .bubble.profile {
        font-size: 2.3em;
        background-color: #9ac5de;
    }
    .bubble.profile .profile-img {
        clear: both;
        width: 100px;
        height: 125px;
        padding: 0;
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
                border-top-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
                border-bottom-right-radius: 15px;
        background: url(./nessa.jpg) no-repeat scroll -68px top #a9cbe4;
    }
    .bubble.profile.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #9ac5de !important;
    }
    .bubble.profile.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #9ac5de;
    }
    .bubble.profile.right-bottom {
        margin-right: 30px;
    }
    .middle .personal {
        color: #90b2ca;
    }
    .bubble.personal {
        background-color: #90b2ca;
    }
    .bubble.personal.right-top {
        margin-right: 30px;
    }
    .bubble.personal.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #90b2ca transparent transparent;
    }
    .middle .language {
        color: #b7bdcb;
    }
    .bubble.language {
        background-color: #b7bdcb;
    }
    .bubble.language.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #b7bdcb;
    }
    .middle .employment {
        color: #819aae;
    }
    .bubble.employment {
        background-color: #819aae;
    }
    .bubble.employment.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #819aae;
    }
    .middle .education {
        color: #687989;
    }
    .bubble.education {
        background-color: #687989;
    }
    .bubble.education.right-bottom {
        margin-right: 30px;
    }
    .bubble.education.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #687989 !important;
    }
    .middle .hobbies {
        color: #877f8f;
    }
    .bubble.hobbies {
        background-color: #877f8f;
    }
    .bubble.hobbies.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #877f8f;
    }
    .middle .technical {
        color: #b58ea5;
    }
    .bubble.technical {
        background-color: #b58ea5;
    }
    .bubble.technical.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b58ea5 !important;
    }
    .middle .contact {
        color: #c6b19e;
    }
    .bubble.contact {
        background-color: #c6b19e;
    }
    .bubble.contact.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #c6b19e;
    }
    .middle .jungfrau {
        color: #90b2ca;
    }
    .bubble.jungfrau {
        background-color: #90b2ca;
    }
    .bubble.jungfrau.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #90b2ca transparent transparent;
    }
    .middle .schild {
        color: #b7bdcb;
    }
    .bubble.schild {
        background-color: #b7bdcb;
    }
    .bubble.schild.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b7bdcb !important;
    }
    .middle .raiffeisen {
        color: #819aae;
    }
    .bubble.raiffeisen {
        background-color: #819aae;
    }
    .bubble.raiffeisen.right-top::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 15px 0 0;
        border-style: solid;
        border-color: #819aae transparent transparent;
    }
    .middle .iks {
        color: #687989;
    }
    .bubble.iks {
        background-color: #687989;
    }
    .bubble.iks.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #687989;
    }
    .middle .zattoo {
        color: #877f8f;
    }
    .bubble.zattoo {
        background-color: #877f8f;
    }
    .bubble.zattoo.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #877f8f;
    }
    .middle .carloag {
        color: #819aae;
    }
    .bubble.carloag {
        background-color: #819aae;
    }
    .bubble.carloag.left-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 0 0 15px 15px;
        border-style: solid;
        border-color: transparent transparent #819aae;
    }
    .middle .nzz {
        color: #b7bdcb;
    }
    .bubble.nzz {
        background-color: #b7bdcb;
    }
    .bubble.nzz.right-bottom::before {
        width: 0;
        min-width: 0 !important;
        height: 0;
        min-height: 0 !important;
        border-width: 15px 0 0 15px !important;
        border-style: solid;
        border-color: transparent transparent transparent #b7bdcb !important;
    }
    .left .bubble.right-top,
    .left .bubble.right-bottom {
        margin-right: 30px;
        margin-left: 0;
    }
    .right .bubble.left-top,
    .right .bubble.left-bottom {
        margin-right: 0;
        margin-left: 30px;
    }
    #navigation a {
        margin-right: 15px;
        margin-left: 0;
    }
    th,
    td {
        overflow: hidden;
        white-space: nowrap;
    }
    td {
        display: block;
        float: right;
        overflow: visible;
        width: auto;
        text-align: right;
        white-space: normal;
    }
    th {
        display: block;
        width: 100%;
        text-align: left;
    }
    th {
        letter-spacing: .1;
    }
    td h4 {
        letter-spacing: .1;
    }
    .full-width table td {
        width: auto;
        float: left;
        text-align: left;
    }
    .middle {
        display: none;
    }
    .bubble h3 {
        font-size: 1.5em;
        display: block;
        margin-bottom: 15px;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}
