@import '~aos/dist/aos.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn.btn-icon:not(.btn-footer) i.fab,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  line-height: 1.5626rem;
  width: 25px;
}

.cc-contact-information .container.cc-contact {
  padding: 8% 0;
  .col-md-9 {
    margin: 0 auto;
  }
}
