@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Hind Siliguri Light';
  src: url('../public/fonts/Hind Siliguri Light.ttf');
}

.text-gradient {
  background: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  opacity: 0.75;
}

.frame {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: -20px;
  border: 2px solid;
  border-image-source: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  z-index: 5;
}

.line {
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  height: 40px;
  width: calc(100% - 130px);
  border-image-source: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  position: relative;
}

.history {
  position: relative;
  padding: 40px 32px 80px 32px;
  border-left: 2px solid;
  border-image-source: linear-gradient(190deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  border-top: 0;
  border-bottom: 0;
}

.history p {
  margin-right: 16px;
}
.history p {
  margin-left: 16px;
}
.history ul {
  margin: 0;
  padding: 0;
}
.history ul li {
  list-style: none;
  margin-bottom: 40px;
  position: relative;
}

.history ul li:last-child {
  margin-bottom: 0;
}
.history ul li:before {
  content: '';
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 4px solid;
  position: absolute;
  top: 4px;
}
.history ul li:before {
  background: theme('colors.gold');
  border-color: #fff;
}
.dark .history ul li:before {
  border-color: #000;
}

.history ul li:before {
  left: -45px;
}
.history ul li:before {
  right: -45px;
}
@media (max-width: 959px) {
  .history ul li:before {
    left: 0;
  }
  .history ul li:before {
    right: 0;
  }
}

.progress-wrap {
  padding-bottom: 64px;
}
@media (min-width: 600px) {
  .progress-wrap {
    padding: 40px 0 80px 0;
  }
}
.progress-wrap ul {
  margin: 0;
  padding: 0;
}
.progress-wrap ul li {
  list-style: none;
  margin-bottom: 40px;
}
.progress-wrap ul li:last-child {
  margin-bottom: 0;
}
.progress-wrap ul li h5 {
  font-weight: var(--font-bold);
}

.title-main {
  display: block;
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 72px;
  padding: 16px 0 16px 0;
}
.title-main h4 {
  vertical-align: middle;
  font-weight: var(--font-regular);
  text-transform: capitalize;
  font-size: 36px;
  line-height: 56px;
}
.title-main h4 {
  color: rgba(0, 0, 0, 0.87);
}
.dark .title-main h4 {
  color: #fff;
}
@media (max-width: 1279px) {
  .title-main h4 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 599px) {
  .title-main h4 {
    font-size: 24px;
    line-height: 36px;
  }
}
.title-main h4 strong {
  font-weight: var(--font-bold);
}
.dark .title-main h4 {
  color: #fff;
}
.container-general {
  padding: 32px;
  padding-top: 120px;
  height: 100vh;
}
.container-general {
  background-color: #fafafa;
}
.dark .container-general {
  background-color: #303030;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main-wrap {
  color: rgba(0, 0, 0, 0.87);
}
.dark .main-wrap {
  color: #fff;
}
.dark .main-wrap {
  background-color: #303030;
}
.main-wrap {
  background-color: #fff;
}
.grey-bg {
  padding-top: 80px;
}
.grey-bg {
  background-color: #fafafa;
}
.dark .grey-bg {
  background-color: #303030;
}
.space-bottom {
  margin-bottom: 120px;
}
@media (max-width: 959px) {
  .space-bottom {
    margin-bottom: 80px;
  }
}
.space-bottom-short {
  margin-bottom: 80px;
}
.space-top {
  margin-top: 120px;
}
@media (max-width: 959px) {
  .space-top {
    margin-top: 60px;
  }
}
.space-top-short {
  margin-top: 80px;
}
.container-wrap > section {
  position: relative;
}
.deco-wrap {
  position: relative;
}
.deco-wrap.bottom ::v-deep .inner-parallax {
  top: -1500px;
}
.bottom-deco {
  top: -200px;
  position: absolute;
  width: 100%;
  height: calc(100% + 200px);
}
