@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hind Siliguri Light';
  src: url('../public/fonts/Hind Siliguri Light.ttf');
}

.text-gradient {
  background: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  opacity: 0.75;
}

.bg-gradient-inverted {
  background-image: linear-gradient(
    120deg,
    theme('colors.violet'),
    theme('colors.pink')
  );
  opacity: 0.75;
}

.frame {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: -20px;
  border: 2px solid;
  border-image-source: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  z-index: 5;
}

.line {
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  height: 40px;
  width: calc(100% - 90px);
  border-image-source: linear-gradient(
    120deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  position: relative;
}
@media (min-width: theme('screens.xl')) {
  .line {
    width: calc(100% - 107px);
  }
}
@media (min-width: theme('screens.2xl')) {
  .line {
    width: calc(100% - 140px);
  }
}

.history {
  position: relative;
  padding: 40px 32px 80px 32px;
  border-left: 2px solid;
  border-image-source: linear-gradient(190deg,
    theme('colors.pink'),
    theme('colors.violet')
  );
  border-image-slice: 1;
  border-top: 0;
  border-bottom: 0;
}
