.history p {
  margin-right: 16px;
}
.history p {
  margin-left: 16px;
}
.history ul {
  margin: 0;
  padding: 0;
}
.history ul li {
  list-style: none;
  margin-bottom: 40px;
  position: relative;
}

.history ul li:last-child {
  margin-bottom: 0;
}
.history ul li:before {
  content: '';
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 4px solid;
  position: absolute;
  top: 4px;
}
.history ul li:before {
  background: theme('colors.gold');
  border-color: #fff;
}
.dark .history ul li:before {
  border-color: #000;
}

.history ul li:before {
  left: -45px;
}
.history ul li:before {
  right: -45px;
}

.progress-wrap {
  padding-bottom: 64px;
}
@media (min-width: 600px) {
  .progress-wrap {
    padding: 40px 0 80px 0;
  }
}
.progress-wrap ul {
  margin: 0;
  padding: 0;
}
.progress-wrap ul li {
  list-style: none;
  margin-bottom: 40px;
}
.progress-wrap ul li:last-child {
  margin-bottom: 0;
}
.progress-wrap ul li h5 {
  font-weight: var(--font-bold);
}

.title-main {
  display: block;
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 72px;
  padding: 16px 0 16px 0;
}
.title-main h4 {
  vertical-align: middle;
  font-weight: var(--font-regular);
  text-transform: capitalize;
  font-size: 36px;
  line-height: 56px;
}
.title-main h4 {
  color: rgba(0, 0, 0, 0.87);
}
.dark .title-main h4 {
  color: #fff;
}
@media (max-width: 1279px) {
  .title-main h4 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 599px) {
  .title-main h4 {
    font-size: 24px;
    line-height: 36px;
  }
}
.title-main h4 strong {
  font-weight: var(--font-bold);
}
.dark .title-main h4 {
  color: #fff;
}
.container-general {
  padding: 32px;
  padding-top: 120px;
  height: 100vh;
}
.container-general {
  background-color: #fafafa;
}
.dark .container-general {
  background-color: #303030;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main-wrap {
  color: rgba(0, 0, 0, 0.87);
}
.dark .main-wrap {
  color: #fff;
}
.dark .main-wrap {
  background-color: #303030;
}
.main-wrap {
  background-color: #fff;
}
.grey-bg {
  padding-top: 80px;
}
.grey-bg {
  background-color: #fafafa;
}
.dark .grey-bg {
  background-color: #303030;
}
.container-wrap > section {
  position: relative;
}
.deco-wrap {
  position: relative;
}
.deco-wrap.bottom ::v-deep .inner-parallax {
  top: -1500px;
}
.bottom-deco {
  top: -200px;
  position: absolute;
  width: 100%;
  height: calc(100% + 200px);
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -o-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -moz-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -o-radial-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -moz-radial-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}
.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper.waves-button {
  padding: 0;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
  display: block;
}

#side_nav .menu .link:before {
  content: '';
  position: absolute;
  top: 5px;
  opacity: 0.2;
  background: -o-linear-gradient(330deg, theme('colors.pink'), theme('colors.violet'));
  background: linear-gradient(120deg, theme('colors.pink'), theme('colors.violet'));
  height: 75%;
  width: 0;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.14, 0.97);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.14, 0.97);
  transition: all 0.2s cubic-bezier(0, 0, 0.14, 0.97);
}
#side_nav .menu .link:before {
  left: -16px;
}
#side_nav .menu .link:hover:before {
  width: 110%;
}
#side_nav .menu .link:hover .text {
  color: theme('colors.pink');
}
#side_nav .menu .text {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  line-height: 32px;
}

#testimonials .world-map {
  background: url('../public/profile/worldMap.svg') no-repeat center center;
  background-size: 100%;
  position: relative;
  margin: 0 auto;
}

.title-main {
  background-image: url('../public/profile/titleDecoLight.png');
}
.dark .title-main {
  background-image: url('../public/profile/titleDecoDark.png');
}


.img-thumb:before {
  content: '';
  bottom: -7px;
  left: -7px;
  width: 30%;
  height: 50%;
  border: 4px solid;
  border-image-source: linear-gradient(120deg, theme('colors.pink'), theme('colors.violet'));
  border-image-slice: 1;
  border-right: 0;
  border-top: 0;
  position: absolute;
}

.img-thumb:hover .detail {
  opacity: 1;
  background-position: 60% 0;
}
.img-thumb .detail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(120deg, theme('colors.pink'), theme('colors.violet'));
  background-size: 300%;
  background-position: 0 0;
}
